<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>WorkPage</title>
</head>
<body>
<h1>BurgerToGo</h1>
<th:block th:if="${#request.getRemoteUser()!=null}" th:text="${#request.getRemoteUser()}">

</th:block>
<form th:method="POST" th:action="@{/order}">
    <h1> Производи </h1>
    <table>
        <th:block th:each="proizvod:${proizvodi}">
            <tr>
                <td><label for="prozivodId"></label><input type="checkbox" th:text="${proizvod.getName()}"
                                                           th:value="${proizvod.getId()}" id="prozivodId"
                                                           name="proizvodId"></td>
                <td th:text="${proizvod.getCena()}"></td>
            </tr>
        </th:block>
    </table>

    <th:block th:if="${#request.getRemoteUser()!=null}">
        <h1>Додатоци</h1>
        <table>
            <th:block th:each="dodatok:${dodatoci}">
                <tr>
                    <td><label for="dodatokId"></label><input th:text="${dodatok.getName()}"
                                                              th:value="${dodatok.getId()}"
                                                              id="dodatokId" name="dodatokId" type="checkbox"></td>
                    <td th:text="${dodatok.getCena()}"></td>
                </tr>
            </th:block>
        </table>

        <button type="submit"> Нарачај</button>
    </th:block>
</form>

<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{'/create'}"> Креирај производ </a></br>
</th:block>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{'/home/edit'}"> Едитирај производ </a></br>
</th:block>
<th:block th:if="${#request.getRemoteUser()!=null}">
    <a th:href="@{'/logout'}">Logout</a>
</th:block>
<th:block th:if="${#request.getRemoteUser()!=null}">
    <h1>Денешни нарачки</h1>
    <table>
        <tr>
            <td>Id</td>
            <td>Цена</td>
            <td>Производи</td>
        </tr>
        <th:block th:each="naracka:${naracki}">
            <tr>
                <td th:text="${naracka.getId()}"></td>
                <td th:text="${naracka.getCena()}"></td>
                <td th:each="proizv:${naracka.getProzvodi()}" th:text="${proizv.getName()}"></td>
            </tr>
        </th:block>
    </table>
</th:block>
</body>
</html>