<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>WorkPage</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>BurgerToGo</h1>-->
<!--    <th:block th:if="${#request.getRemoteUser()!=null}" th:text="${#request.getRemoteUser()}">-->

<!--    </th:block>-->
<!--</header>-->
<!--<h1> Производи </h1>-->
<!--<table>-->
<!--    <th:block th:each="proizvod:${proizvodi}">-->
<!--        <tr>-->
<!--            &lt;!&ndash;                <td><label for="prozivodId"></label><input type="checkbox" th:text="${proizvod.getName()}"&ndash;&gt;-->
<!--            &lt;!&ndash;                                                           th:value="${proizvod.getId()}" id="prozivodId"&ndash;&gt;-->
<!--            &lt;!&ndash;                                                           name="proizvodId"></td>&ndash;&gt;-->

<!--            <td><a th:href="@{'/work/add{id}'(id=${proizvod.getId()})}" th:text="${proizvod.getName()}"></a></td>-->

<!--            <td th:text="${proizvod.getCena() + ' ' + 'Денари'}"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
<!--&lt;!&ndash; tuka ke se dodatocite&ndash;&gt;-->
<!--<th:block th:if="${#request.getRemoteUser()!=null}">-->
<!--    <h1>Додатоци</h1>-->
<!--    <table>-->
<!--        <th:block th:each="dodatok:${dodatoci}">-->
<!--            <tr>-->
<!--                &lt;!&ndash;                <td><label for="dodatokId"></label><input th:text="${dodatok.getName()}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                                          th:value="${dodatok.getId()}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                                          id="dodatokId" name="dodatokId" type="checkbox"></td>&ndash;&gt;-->
<!--                <td><a th:text="${dodatok.getName()}"-->
<!--                       th:href="@{'/work/dodatok{dodatokId}'(dodatokId=${dodatok.getId()})}"></a></td>-->
<!--                <td th:text="${dodatok.getCena()}"></td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->

<!--</th:block>-->
<!--<div>-->
<!--    <h2>Моментална нарачка</h2>-->
<!--    <div style="font-size: 15px; text-align: center; border: 5px solid #000; border-radius: 10px; padding: 30px">-->
<!--        <th:block th:each="proizvod:${momentalnaNaracka}">-->
<!--            <b th:text="${proizvod.getName()}"></b></br>-->

<!--            <p th:each="dod:${proizvod.getDodatoci()}" th:text=" ${dod.getName()}"></p></th:block>-->
<!--        </th:block>-->
<!--    </div>-->
<!--    <form th:method="POST" th:action="@{/order}">-->
<!--        <button type="submit"> Нарачај</button>-->
<!--    </form>-->
<!--</div>-->
<!--&lt;!&ndash;Kopcina za edit proizvode kreirane proizvode itn moze da gi staves ako sakas gore &ndash;&gt;-->
<!--<th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    <a th:href="@{'/create'}"> Креирај производ </a></br>-->
<!--</th:block>-->
<!--<th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--    <a th:href="@{'/home/edit'}"> Едитирај производ </a></br>-->
<!--</th:block>-->
<!--<th:block th:if="${#request.getRemoteUser()!=null}">-->
<!--    <a th:href="@{'/logout'}">Одјави</a>-->
<!--</th:block>-->
<!--<th:block th:if="${#request.getRemoteUser()!=null}">-->
<!--    <h1>Денешни нарачки</h1>-->
<!--    &lt;!&ndash;    направи табелта да изгледа подобро&ndash;&gt;-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Id</td>-->
<!--            <td>Цена</td>-->
<!--            <td>Производи</td>-->
<!--        </tr>-->
<!--        <th:block th:each="naracka:${naracki}">-->
<!--            <tr>-->
<!--                <td th:text="${naracka.getId()}"></td>-->
<!--                <td th:text="${naracka.getCena() + ' Денари'}"></td>-->
<!--                <td th:each="proizv:${naracka.getProzvodi()}" th:text="${proizv.getName()}"></td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->
<!--</th:block>-->
<!--</body>-->
<!--</html>-->